################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pbl_is_coming/bin/Debug/netcoreapp3.1
/pbl_is_coming/obj
